<body>
  <div class="container">
      <header>
        <img [src]="assignmentTransmis.data.matiere[0][0].image">
        <h2>{{ assignmentTransmis.data.matiere[0][0].name }}</h2>
      </header>

      <form action="#">
          <div class="form first">
              <div class="details personal">
                  <span class="title">Details</span>

                  <div class="fields">
                      <div class="input-field">
                          <label>Devoir </label>
                          <input [(ngModel)] = "nomDeDevoir" name="nomDeDevoir" type="text" placeholder = "Nom du devoir" [value] = "assignmentTransmis.data.assignments[0].nom" [readonly]="!isEditable" required  >
                      </div>

                      <div class="input-field">
                          <label>Date Limite</label>
                          <input type="date" placeholder =" Date Limite" [value] = "assignmentTransmis.data.assignments[0].dateLimite | date:'yyyy-MM-dd' " [readonly]="true" required>
                      </div>

                      <div class="input-field">
                          <label>Professeur</label>
                          <input type="text" placeholder="Professeur" [value] = "assignmentTransmis.data.matiere[0][0].prof" [readonly]="true" required>
                      </div>

                      <div class="input-field">
                          <label>Devoir de : </label>
                          <input type="text" placeholder="Eleve" [value] = "assignmentTransmis.data.assignments[0].auteur" [readonly]="true" required>
                      </div>

                      <div class="input-field">
                          <label>Statut</label>
                          <input type="text" placeholder="Statut" [value] = "assignmentTransmis.data.assignments[0].etat" [readonly]="true" required>
                      </div>

                  </div>
              </div>

              <div class="notation">
                  <span class="title">Notation</span>

                  <div class="fields">
                      <div class="input-field">
                          <label>Note</label>
                          <input [(ngModel)] = "note" name="note" type="number" placeholder="Note" [value] = "assignmentTransmis.data.assignments[0].note" [readonly]="!isEditable" required>
                      </div>

                      <div class="input-field">
                          <label>Remarques</label>
                          <textarea [(ngModel)] = "remarques" name="remarques" type="text" placeholder="Remarques" [value] = "assignmentTransmis.data.assignments[0].remarques" [readonly]="!isEditable" required></textarea>
                      </div>

                      <div *ngIf = "assignmentTransmis.data.assignments[0].rendu" class="input-field">
                          <label>Rendu le </label>
                          <p>{{assignmentTransmis.data.assignments[0].dateDeRendu |  date :'mediumDate' }} </p>
                      </div>
                  </div>


                  <div class = "fields">

                    <button class="cancelBtn" *ngIf="!isEditable" (click)="onNoClick()">
                        <span class="btnText">Fermer</span>
                        <i class="uil uil-navigator"></i>
                    </button>
  
                    <button class="deleteBtn" *ngIf="isAdmin" (click)="delete()">
                      <span class="btnText">Supprimer</span>
                      <i class="uil uil-navigator"></i>
                  </button>

                    <button class="editBtn" *ngIf="isAdmin && !isEditable" (click)="enableEdit()">
                        <span class="btnText">Modifier</span>
                        <i class="uil uil-navigator"></i>
                    </button>

                    <button class="cancelBtn" *ngIf="isAdmin && isEditable" (click)="cancel()">
                        <span class="btnText">Annuler</span>
                        <i class="uil uil-navigator"></i>
                    </button>
  
                    <button class="editBtn" *ngIf="isAdmin && isEditable" (click)="edit()">
                      <span class="btnText">Modifier</span>
                      <i class="uil uil-navigator"></i>
                    </button>

                  </div>
              </div> 
          </div>

      </form>
  </div>

</body>