.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 35px;
  margin-right: 35px;
}

.droppable {
  height: 100px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  background-color: #f8f8f8;
  border: 1px dashed #9174d8;
  color: #9174d8;
  border-radius: 10px;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
  font-size: 1.25rem;
  pointer-events: none; /* The element is never the target of pointer events */
}

button{
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: none;
  transition: all 0.3s linear;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.profile-main .profile-pic{
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.profile-pic img{
  border-radius:50%;
  object-fit:cover;
}

.profile-main__name{
  margin-top: 10px;
}
