
  <div class="login-container">

    <div class="welcome-img">
        <img src="./../../assets/images/logo.jpg" alt="welcome image">
    </div>

    <div class="form-container">
        <p class="title">Connexion</p>

        <form [formGroup]="loginForm" class="login-form">
            <div class="form-item email">
                <input type="email" placeholder="Login" formControlName="userName" required="true">
                <span class="item-indicator"></span>
            </div>
            <div class="form-item password">
                <input type="password" placeholder="Mot de passe" formControlName="password" required="true">
                <span class="item-indicator"></span>
            </div>

            <div class="txt-error" [ngClass]="{'isError': checkErrorUser}" *ngIf="errorUtilisateur">{{errorUtilisateur}}</div>

            <div class="actions">
                <button (click)="login()" type = "submit">Se Connecter</button>
            </div>

        </form>
    </div>
</div>