
<body>
    <div class="container">
        <header>Créer Assignment</header>
        <br>

        <form ngForm class="form">
            <mat-stepper linear #stepper>
                  <mat-step [stepControl]="matiereFormGroup">
                    <form [formGroup]="matiereFormGroup">
                      <ng-template matStepLabel>Choisir la matière</ng-template>
                      <div class="fields input-field">
                          
                          <select required [(ngModel)]="matiereChoisi" name = "matiereChoisi" formControlName="matiereCtrl">
                              <option *ngFor="let matiere of matieres" [value] = "matiere.name">{{matiere.name}}</option>
                          </select>
  
                      </div>
                      <div class="fields">
                        <button mat-button (click) = "onNoClick()">Annuler</button>
                        <button mat-button matStepperNext>Suivant</button>
                      </div>
                    </form>
                  </mat-step>
  
                  <mat-step [stepControl]="nomAssignmentFormGroup" label="Renseigner le devoir">
                    <form [formGroup]="nomAssignmentFormGroup">
                      <div class=" fields input-field">
                          <input [(ngModel)]="nomAssignment" name = "nomAssignment" matInput formControlName="nomAssignmentCtrl" placeholder="Nom de l'assignment"
                               required>
                      </div>
                      <div class="fields">
                        <button mat-button (click) = "onNoClick()">Annuler</button>
                        <button mat-button matStepperPrevious>Retour</button>
                        <button mat-button matStepperNext>Suivant</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="dateFormGroup" label="Définir la date limite">
                      <form [formGroup]="dateFormGroup">
                        <div class="fields input-field">
                            <input [(ngModel)] = "dateLimite" name = "dateLimite" matInput formControlName="dateCtrl" type="date"
                                 required>
                        </div>
                        <div class="fields">
                          <button mat-button (click) = "onNoClick()">Annuler</button>
                          <button mat-button matStepperPrevious>Retour</button>
                          <button mat-button matStepperNext>Suivant</button>
                        </div>
                      </form>
                    </mat-step>
  
                    <mat-step [stepControl]="auteurFormGroup" label="Attribuer à l'élève">
                      <form [formGroup]="auteurFormGroup">
                        <div class="fields input-field">
                            <input [(ngModel)]="auteur" name = "auteur" matInput formControlName="auteurCtrl" placeholder="Nom de l'élève"
                                 required>
                        </div>
                        <div class="fields">
                          <button mat-button (click) = "onNoClick()">Annuler</button>
                          <button mat-button matStepperPrevious>Retour</button>
                          <button mat-button matStepperNext>Suivant</button>
                        </div>
  
                      </form>
                    </mat-step>
                        
                    <mat-step>
                      <div class="fields">
                            <ng-template matStepLabel>Récapitulation</ng-template>

                          
                            <div class="recapitulation-box">
                                <div class="recapitulation">
                                    <img src="./../../../assets/images/81744.jpg" alt="matiere" />
                                    <img src="./../../../assets/images/img1.png" alt="prof" >
                                    <div class="assignment">{{matiereChoisi}}  : {{nomAssignment}} de Michel BUFFA </div>
                                </div>
                                <div class="assignmentDueDate">A rendre le {{dateLimite | date:'mediumDate'}} par {{auteur}} </div>
                            </div>
                      </div>
                      <div class="fields">
                          <button mat-button (click) = "onNoClick()">Annuler</button>
                          <button mat-button matStepperPrevious>Retour</button>
                          <button mat-button (click)="ajouter()">Confirmer</button>
                      </div>
                  </mat-step>

            </mat-stepper>
        </form>
    </div>
</body>

