.form {
  display:flex;
  flex-direction: column;
  margin:5px;
}

.txt-error {
  &:not(.intermError) {
     display: none;
   }
  color: red;
  font-weight: 700;
  font-size: 15px;
  margin: 30px;
  &.isError {
     display: block;
   }
  }