
<body>
    <div class="container">
        <header>Créer Assignment</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Nom</label>
                            <input [(ngModel)] = "nomAssignment" [ngModelOptions]="{standalone: true}" type="text" placeholder="Nom de devoir" required>
                        </div>

                        <div class="input-field">
                            <label>Date Limite</label>
                            <input [(ngModel)] = "dateLimite" [ngModelOptions]="{standalone: true}" type="date" placeholder="Ajouter la date limite" required>
                        </div>

                        <div class="input-field">
                            <label>Auteur</label>
                            <input [(ngModel)] = "auteur" [ngModelOptions]="{standalone: true}" type="text" placeholder="Renseigner l'élève" required>
                        </div>

                        <div class="input-field">
                            <label>Matiere</label>
                            <select required [(ngModel)]="matiereChoisi" [ngModelOptions]="{standalone: true}">
                                <option disabled selected>Choisissez la matière</option>
                                <option *ngFor="let matiere of matieres" [value] = "matiere.name">{{matiere.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div>
                    <button class="nextBtn" (click)="onSubmit()" [disabled]="((!nomAssignment) || (!dateLimite) || (!matiereChoisi) || (!auteur))">
                        <span class="btnText">Ajouter</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>
        </form>
    </div>
</body>

